@media screen and (max-width: 600px) { 
  body{
    font-size: 0.5rem;
  }
  .list-group-item{
    padding: .5rem .25rem;
    text-align: left;
  }
  .col-1,.col-2,.col-3,.col-4{
   padding-right: 5px;
   padding-left: 5px;
  }
}

